

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0B6623;
	border-radius: 20px;
	
}

li a {
	float: left;
	display: inline;
}

a{
	display: block;
	padding: 12px;
	color:#FFFFFF
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active){
	background-color:#D3D3D3;
}

.active{
	background-color:#4CAF50
}
